.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* basic frame for the page */

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  /* align it in the grid */
  border-right: 4px solid #c0deff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  font-weight: 700;
}
/* displays the text along the side */

.title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  /* align it in the grid */
  background-color: #ada2ff;
  border-bottom: 4px solid #c0deff;
  border-radius: 3px;
  color: white;
  font-size: xx-large;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the title bar */

.card-grid {
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  overflow: scroll;
}
/* the gameboard, ie the grid of cards */

body {
  margin: 0px;
  padding: 0px;
}
/* makes sure the whole page is taken up */

.Card > img {
  height: 150px;
  width: 150px;
  border: 3px solid black;
  border-radius: 3px;
}
/* the album covers */

.Card > p {
  border: 3px solid black;
  border-top: 0px;
  margin-top: -7px;
  /* we need this to position the label directly underneath the photo */
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  width: 146px;
  /* it seems lke width and padding should have to add up to 150, not 149, but for whatever reason this makes things align nicely */
}
/* and the album labels */
